body {
	background: #f1f1f1;
}

.btn-circle {
	border-radius: 20px;
}

.btn-add {
	width: 30px;
	height: 30px;
	margin-top: 70px;
	margin-left: -30px;
	position: absolute;
}

.btn-challenge {
	height: 35px;
	margin-top: 60px;
	margin-left: -30px;
	position: absolute;
}

.btn-challenge > i{
	font-size: 1.5em;
}

.btn-remove {
	width: 30px;
	height: 30px;
	margin-top: 70px;
	margin-left: -100px;
	position: absolute;
}

.nav-menu{
	background: #3E3F3A;
	padding: 10px;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.5);
}

.col-flex{
	display: flex;
}

.btn-menu {
	display: flex;
  flex-direction: column;
  align-content: center;
}

.btn-menu > i{
	font-size: 1.6em;
}

.modal {
	background: rgba(255, 255, 255, 0.9);
}

.modal-content {
	background: transparent;
	box-shadow: none;
	border: 0px;
}