body {
	background: #f1f1f1;
}

.btn-circle {
	border-radius: 20px;
}

.btn-add {
	width: 30px;
	height: 30px;
	margin-top: 70px;
	margin-left: -30px;
	position: absolute;
}

.btn-remove {
	width: 30px;
	height: 30px;
	margin-top: 70px;
	margin-left: -100px;
	position: absolute;
}

.btn-menu {
	width: 30px;
	height: 30px;
}

.modal {
	background: rgba(255, 255, 255, 0.9);
}

.modal-content {
	background: transparent;
	box-shadow: none;
	border: 0px;
}